{% extends "base.html"%}
{% load i18n %}

{% block title %}{% trans 'Voting' %}{% endblock %}
{% block content %}
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="content">
                <h3 class="text-center">{% trans 'Polls what were initiated by the management.' %}</h3><br/>
                {% if poll_list %}
                    <table class="table table-bordered table-hover">
                    <tbody><tr bgcolor="#f4f4f4">
                        <th style="width: 30px"><div class="text-center">{% trans 'Number' %}</div></th>
                        <th style="width: 500px"><div class="text-center">{% trans 'Poll title' %}</div></th>
                        <th><div class="text-center">{% trans 'Start of poll' %}</div></th>
                        <th><div class="text-center">{% trans 'End of poll' %}</div></th>
                        <th><div class="text-center">{% trans 'Count of votes' %}</div></th>
                        <th><div class="text-center">{% trans 'Status' %}</div></th>
                    </tr>
                    {% for poll in poll_list.all %}
                        <tr>
                            <td class="vert-align">
                                <a href="../polls/{{poll.id}}" class='title-poll' >{{poll.id}}</a>
                            </td>
                            <td class="vert-align">
                                <a href="../polls/{{poll.id}}" class='title-poll'>{{poll.question}}</a>
                            </td>
                            <td class="vert-align">
                                <a href="../polls/{{poll.id}}" class='title-poll'>{{poll.date_start|date:"d-m-Y"}}</a>
                            </td>
                            <td class="vert-align">
                                <a href="../polls/{{poll.id}}" class='title-poll'>{{poll.date_end|date:"d-m-Y"}}</a>
                            </td>
                            <td class="vert-align">
                                <div class="text-center">{{ poll.vote_set.count }}</div>
                            </td>
                            <td class="vert-align">
                                {% if poll.archive == 0 %}
                                    <a href="../polls/{{poll.id}}/" class='title-poll'><span class="label label-success">{% trans 'Voting is continues' %}</span></a>
                                {% else %}
                                    <a href="../polls/{{poll.id}}/" class='title-poll'><span class="label label-warning">{% trans 'Voting is archive' %}</span></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                {% else %}
                    {% trans 'Unfortunately, your condominium has nothing poll yet' %}
                {% endif %}
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </section><!-- /.content -->
{% endblock %}
