{% extends "photologue/root.html" %}
{% load i18n %}

{% block title %}{% trans "Latest photo galleries" %}{% endblock %}

{% block content %}

    <div class="col-lg-12">
        <h1 class="page-header">{% trans "Latest photo galleries" %}</h1>
    </div>
	
		<aside class="col-lg-2">

			<h4>Фільтрувати за роком</h4>
			<ul>
			{% for date in date_list %}
				<li><a href="{% url 'blog:photologue:pl-gallery-archive-year' date.year %}">{{ date|date:"Y" }}</a></li>
			{% endfor %}
			</ul>

		</aside>

		<main class="col-lg-10">
			
			{% if latest %}
			    {% for gallery in latest %}
			    	{% include "photologue/includes/gallery_sample.html" %}
			    {% endfor %}
			{% else %}
			    <p>{% trans "No galleries were found" %}.</p>
			{% endif %}
			
		</main>
	
{% endblock %}
