{% extends "photologue/root.html" %}
{% load photologue_tags i18n %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}

    <div class="col-lg-12">
        <h1 class="page-header">{{ object.title }}</h1>
        <p class="muted"><small>{% trans "Published" %} {{ object.date_added }}</small></p>
    </div>

    <div class="col-md-4">
        {% if object.caption %}<p>{{ object.caption|safe }}</p>{% endif %}
        <a href="{{ object.image.url }}">
            <img src="{{ object.image.url }}" class="thumbnail" alt="{{ object.title }}">
        </a>
    </div>

        <div class="col-md-8">
            {% if object.public_galleries %}
                <p>Фото знайдено в наступних галереях:</p>
                    {% for gallery in object.public_galleries %}
                        <div class="col-md-4">
                            <a href="{{ gallery.get_absolute_url }}">
                                <h4>{{ gallery.title }}</h4>
                            </a>
                            {% previous_in_gallery object gallery %}
                            {% next_in_gallery object gallery %}
                        </div>
					{% endfor %}
			{% endif %}
        </div>
{% endblock %}
