{% extends 'blog_base.html' %}

{% block content %}
        <!--colleft-->
        <div class="col-md-8 col-sm-12">
          <div class="about-block">
            <div class="about-head">
              <h1>Про нас</h1>
            </div>
            <div class="about-text">
              <p>Платформа «Розумне ОСББ» є ефективним інструментом по управлінню своїм будинком, житловим комплексом та прибудинковою територією. </p>
              <p>Мета платформи – підвищення якості життя в ОСББ за рахунок всебічного залучення мешканців до процесів розбудови ОСББ та підвищення публічності інформації. Дозволяє правлінню ОСББ та ревізійній групі оприлюднювати новини, інформацію щодо кошторисів, протоколів загальних зборів, зборів правління та інші важливі дані та документи. Мешканці обговорюють ідеї, подають та відслідковують заявки на вирішення проблем в ОСББ, беруть участь в опитуваннях правління.</p>
              <h4>Наступні перспективи розвитку платформи «Розумне ОСББ» передбачають:</h4>
              <ul>
                <li>Повний фінансового обліку ОСББ;</li>
                <li>Автоматичне формування кошторису та аналіз його виконання;</li>
                <li>Створення майданчику для комунікації мешканців та правління ОСББ з обслуговуючими та сервісними компаніями та фізичними особами;</li>
                <li>Надання інструменту асоціаціям ОСББ для ефективної взаємодії з владою</li>
              </ul>
            </div>
          </div>
        </div>
{% endblock content %}