{% extends 'blog_base.html' %}

{% block content %}
        <!--colleft-->
        <div class="col-md-8 col-sm-12">
          <div class="team-head">
            <h1>Наша команда</h1>
            <div class="head-description">
              <p>ТЕКСТ ПРИКЛАД</p>
              <p><strong>"Розумне місто"</strong> – веб-сервіс, що реалізує концепцію «Smart City» в частині ІТ та надає інструменти для оптимізації процесів самоврядування та боротьби з корупцією. «Розумне місто» створено по принципу «мікросервісів», тому він легко підлаштовується під будь-який населений пункт. Розробники веб-сервісу «Розумне місто» мають практичний досвід із розробки веб-сервісів для реформування управління містом у частині об’єднання зусиль влади і громади міста.</p>
              <ul>
                <li>Зручний та інтуїтивно зрозумілий інтерфейс</li>
                <li>Багатофункціональність</li>
                <li>Консолідованість послуг та інструментів</li>
                <li>Можливість встановлення додаткових модулів</li>
                <li>Розподілення доступу до модулів в залежності від обраного міста</li>
                <li>Інструмент мотивування користувачів (карма)</li>
                <li>Можливість розробки модулів власноруч та додавання їх до меню свого міста</li>
              </ul>
            </div>
          </div>
          <div class="team-block">
            <div class="col-md-4">
              <div class="team-item">
                <div class="team-item__img">
                  <img src="images/team1.jpg" class="img-responsive img-circle" alt="">
                </div>
                <div class="team-item__head">
                  <h4>Євгенія Поремчук</h4>
                </div>
                <div class="team-item__description">
                  Керівник проекту <a href="http://rozumnemisto.org">"Розумне місто"</a>, тренер <a href="http://www.iri.org/">"IRI"</a> по е-врядуванню
                </div>
                <ul class="list-inline social-buttons">
                  <li><a href="https://www.facebook.com/jenya.poremchuk" target="_blank"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li><a href="https://medium.com/@e_poremchuk" target="_blank"><i class="fa fa-medium"></i> </a> </li>
                  <li><a href="https://vk.com/id12165445" target="_blank"><i class="fa fa-vk"></i> </a> </li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-item">
                <div class="team-item__img">
                  <img src="images/team2.jpg" class="img-responsive img-circle" alt="">
                </div>
                <div class="team-item__head">
                  <h4>Євгеній Поремчук</h4>
                </div>
                <div class="team-item__description">
                  Програміст, Teamlead at "50th Meridian" та зас <a href="http://rozumnemisto.org">"Розумне місто"</a>
                </div>
                <ul class="list-inline social-buttons">
                  <li><a href="https://www.facebook.com/jenya.poremchuk" target="_blank"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li><a href="https://medium.com/@e_poremchuk" target="_blank"><i class="fa fa-medium"></i> </a> </li>
                  <li><a href="https://vk.com/id12165445" target="_blank"><i class="fa fa-vk"></i> </a> </li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-item">
                <div class="team-item__img">
                  <img src="images/team3.jpg" class="img-responsive img-circle" alt="">
                </div>
                <div class="team-item__head">
                  <h4>Володимир Кашпоров</h4>
                </div>
                <div class="team-item__description">
                  Старший партнер в "Юридична фірма "Кашпоров і Партнери"
                </div>
                <ul class="list-inline social-buttons">
                  <li><a href="https://www.facebook.com/vladimir.kashporov?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-item">
                <div class="team-item__img">
                  <img src="images/team1.jpg" class="img-responsive img-circle" alt="">
                </div>
                <div class="team-item__head">
                  <h4>Євгенія Поремчук</h4>
                </div>
                <div class="team-item__description">
                  Керівник проекту <a href="http://rozumnemisto.org">"Розумне місто"</a>, тренер <a href="http://www.iri.org/">"IRI"</a> по е-врядуванню
                </div>
                <ul class="list-inline social-buttons">
                  <li><a href="https://www.facebook.com/jenya.poremchuk" target="_blank"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li><a href="https://medium.com/@e_poremchuk" target="_blank"><i class="fa fa-medium"></i> </a> </li>
                  <li><a href="https://vk.com/id12165445" target="_blank"><i class="fa fa-vk"></i> </a> </li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-item">
                <div class="team-item__img">
                  <img src="images/team2.jpg" class="img-responsive img-circle" alt="">
                </div>
                <div class="team-item__head">
                  <h4>Євгеній Поремчук</h4>
                </div>
                <div class="team-item__description">
                  Програміст, Teamlead at "50th Meridian" та зас <a href="http://rozumnemisto.org">"Розумне місто"</a>
                </div>
                <ul class="list-inline social-buttons">
                  <li><a href="https://www.facebook.com/jenya.poremchuk" target="_blank"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li><a href="https://medium.com/@e_poremchuk" target="_blank"><i class="fa fa-medium"></i> </a> </li>
                  <li><a href="https://vk.com/id12165445" target="_blank"><i class="fa fa-vk"></i> </a> </li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-item">
                <div class="team-item__img">
                  <img src="images/team3.jpg" class="img-responsive img-circle" alt="">
                </div>
                <div class="team-item__head">
                  <h4>Володимир Кашпоров</h4>
                </div>
                <div class="team-item__description">
                  Старший партнер в "Юридична фірма "Кашпоров і Партнери"
                </div>
                <ul class="list-inline social-buttons">
                  <li><a href="https://www.facebook.com/vladimir.kashporov?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!--sportlight-->
        </div>

{% endblock content %}