{% extends 'base.html' %}
{% block title %}Правила інструменту "Дефекти ЖКГ". Розумне місто{% endblock %}

{% block content %}

                  <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="card">

            <div class="content">

                 <div class="text-center"><h1>Правила модулю "Дефекти ЖКГ"</h1></div>
<p>Дефекти ЖКГ – це модуль веб-сервісу "Розумне місто", який дозволяє мешканцям міста публікувати заявки з метою акцентувати увагу виконавчих органів влади на локальних проблемах міста. </p>
    <p>Для того, щоб заявка була взята у роботу, вона повинна пройти модерацію відповідальною особою та направлена на розгляд до організацій, які займаються питаннями, висвітленими у заявці.</p>

<p><strong>Правила розміщення заявок:</strong></p>
     <ul>
<li>Текст заявки повинен відповідати загальноприйнятим нормам етики та моралі;</li>

<li>Піднята проблема повинна відноситись до компетенції влади, комунальних та інших служб, що беруть участь у проекті Розумне місто;</li>

<li>Ви можете додавати заявки лише в том місті, яке вказали при реєстрації;</li>

<li>Місце виникнення проблеми має бути вказано максимально точно (якщо з опису заявки неможливо знайти місце знаходження проблеми, така заявка може бути відхилена модератором).
</li>

    </ul>

<p>Заявки, які відповідають встановленим правилам, публікуються у меню "Дефекти ЖКГ" у розділі "Реєстр заявок". У разі невідповідності заявки встановленим правилам, публікація таких заявок не здійснюється, про що автор заявки отримує повідомлення на вказану ним адресу електронної пошти.</p>
   <p><strong>Проблема має наступні статуси:</strong></p>
<ul>
<li>На модерації. Данні заявки проходять перевірку модераторам і не доступні для перегляду користувачами сервісу.</li>
<li>Відкрита. Заявка пройшла модерацію та по ній призначено відповідальну підрядну організацію.</li>
<li>В роботі. По даній заявці ведуться роботи.</li>
<li>Запланована. Роботи по даній заявці вже заплановані.</li>
<li>Відхилені. Заявка не відповідає правилам сервісу або вимогам чинного законодавства і не доступні для перегляду користувачами сервісу.</li>
<li>Виконана. По даній заявці виконані всі роботи.</li>

  </div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->
{% endblock %}