{% load i18n %}

{# Display a randomnly-selected set of photos from a given gallery #}

<div class="row">
    <div class="col-md-12">
        <h2><a href="{% url 'blog:photologue:pl-gallery' gallery.slug %}">{{ gallery.title }}</a></h2>
        <p class="muted"><small>{% trans "Published" %} {{ gallery.date_added }}</small></p>
        {% if gallery.description %}<p>{{ gallery.description|safe }}</p>{% endif %}

        {% for photo in gallery.sample %}
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <a href="{% url 'blog:photologue:pl-photo' photo.slug %}">
                     <img src="{{ photo.image.url }}" class="thumbnail" alt="{{ photo }}">
                </a>
            </div>
        {% endfor %}
    </div>
</div>
