{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
        <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="card">

            <div class="content">
                <div class="callout callout-danger">
                <h4>{% trans "Account Inactive" %}</h4>

                <p>{% trans "This account is inactive." %}</p>
              </div>
    </div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->
{% endblock %}
