{% extends "account/sign.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}.  Інформаційна система "Розумне місто".{% endblock %}

{% block content %}
<div class="full-page register-page" data-color="green" data-image="{% static 'img/full-screen-image-1.jpg' %}">

    <div class="content">

        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <div class="text-center">
                            <a href="/" class="logo-text">
                                <img src="/static/img/logo.png" width="270px">
                            </a>
                        </div>
                        <br/>
                        <br/>

                    <div class="card card-hidden">
                        <div class="text-center header" style="display: block; overflow: auto" >
                            <h2 style="color: #08a057">{% trans "Password Reset" %}</h2>
                        </div>
                        <div class="content" style="display: block; overflow: auto">

                            <div class="form-group main_text">
                                {% if user.is_authenticated %}
                                    {% include "account/snippets/already_logged_in.html" %}
                                    {% endif %}

                                    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
                                <a href="/accounts/login/" ><button class="btn btn-lg btn-success" style="width: 100%"> {% trans 'Return to login page' %} </button></a>
                             </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div>
                </div>
            </div>
        </div>
    </div>

   <footer class="footer footer-transparent">
        <div class="container">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="/">
                            Головна
                        </a>
                    </li>
                    <li>
                        <a href="/about">
                            Про проект
                        </a>
                    </li>
                    <li>
                        <a href="/help">
                            Допомога
                        </a>
                    </li>
                    <li>
                        <a href="/contacts">
                            Контакти
                        </a>
                    </li>
                </ul>
            </nav>
            <p class="copyright pull-right">
                2016 &copy; <a href="/">30th Meridian</a> and
                <a href="http://rozumnemisto.org">Розумне Місто</a>
            </p>
        </div>
    </footer>

    </div>
{% endblock %}
