{##}
{#{% extends 'base.html' %}#}
{#{% load static %}#}
{#{% block title %}{{ gromada.title }}. Інформаційна система "Розумне місто".{% endblock %}#}
{##}
{#{% block content %}#}
{##}
{#              <!-- Main content -->#}
{#        <section class="content">#}
{##}
{#          <!-- Default box -->#}
{#          <div class="card">#}
{##}
{#            <div class="content">#}
{#    <div class="col-md-12">#}
{#    <div class="text-center">#}
{#        <img src="{% static 'img/progress_reg_2.png' %}"style="max-width: 100%"/>#}
{#        <h3 class="box-title">Виберіть населений пункт зі списку:</h3>#}
{#        </div>#}
{#          <div class="card">#}
{#            <div class="box-header">#}
{#              <h3 class="box-title"><a href="/condominiums/{{gromada.main_condominium_ref.region_ref.id}}"> <i class="fa fa-toggle-left"></i> повернутись назад</a> </h3>#}
{#            </div>#}
{#            <!-- /.box-header -->#}
{#            <div class="box-body no-padding">#}
{#              <table class="table table-bordered table-hover">#}
{#                <tbody>#}
{#                <tr>#}
{#                    <th></th>#}
{#                  <th>Населений пункт</th>#}
{#                  <th>Територіальна громада</th>#}
{#                </tr>#}
{#                {% for village in gromada.condominiumsgromadasvillages_set.all  %}#}
{#                <tr>#}
{#                <td class="vert-align"><i class="fa fa-map-marker"></i></td>#}
{#                  <td>  <div class="ct">  <a href="/choosecondominium/{{ gromada.main_condominium_ref.id }}"> {{ village.title }}</a></div></td>#}
{#                  <td>#}
{#                      {{ gromada.title }}, {{gromada.main_condominium_ref.region_ref.name}}#}
{##}
{#                  </td>#}
{##}
{##}
{#                </tr>#}
{#                {% endfor %}#}
{#              </tbody>#}
{#             </table>#}
{#            </div>#}
{##}
{##}
{#  </div><!-- /.box-body -->#}
{##}
{#          </div><!-- /.box -->#}
{##}
{#        </section><!-- /.content -->#}
{##}
{##}
{##}
{##}
{##}
{##}
{#{% endblock %}#}
{##}
{##}
