{#{% extends 'base.html' %}#}
{#{% load staticfiles %}#}
{#{% block title %}Приєднатися до проекту! Інформаційна система "Розумне місто".{% endblock %}#}
{##}
{#{% block content %}#}
{#        <!-- Main content -->#}
{#        <section class="content">#}
{##}
{#          <!-- Default box -->#}
{#          <div class="card">#}
{##}
{#            <div class="content">#}
{##}
{##}
{#                <iframe src="https://www.google.com/maps/d/embed?mid=1BXX7XC0nlVmPrChYUICwOXYl3is" width="960" height="680"></iframe>#}
{##}
{#            </div><!-- /.box-body -->#}
{#        </div>#}
{##}
{##}
{#        </section><!-- /.content -->#}
{##}
{#{% endblock %}#}