{#{% extends 'base.html' %}#}
{#{% block title %}Mодератори вибраного населеного пункту. Інформаційна система "Розумне місто".{% endblock %}#}
{##}
{#{% block content %}#}
{#        <!-- Main content -->#}
{#        <section class="content">#}
{##}
{#          <!-- Default box -->#}
{#          <div class="card">#}
{##}
{#            <div class="content">#}
{##}
{#{% autoescape off %}{{ moders }}{% endautoescape %}#}
{##}
{##}
{#      </div><!-- /.box-body -->#}
{##}
{#          </div><!-- /.box -->#}
{##}
{#        </section><!-- /.content -->#}
{#    #}
{#{% endblock %}#}