{#{% extends 'base.html' %}#}
{#{% load staticfiles %}#}
{#{% block title %}Наші майстри{% endblock %}#}
{##}
{#{% block content %}#}
{#    <!-- Main content -->#}
{#    <!-- Default box -->#}
{#    <div class="card">#}
{#        <div class="content">#}
{#            <h2>Наші майстри</h2>#}
{#            <p>В даному розділі знаходяться контакти наших сусідів, які займаються наданням тих чи інших послуг.</p>#}
{#            <br style="clear:both">#}
{#            <table class="table">#}
{#                <tbody><tr>#}
{#                    <td width="55%">Манікюр, педикюр, покриття нігтів гель-лаком, корекція брів, покраска брів і вій</td>#}
{#                    <td width="15%" align="center">Катерина</td>#}
{#                    <td align="center">067 366 26 09, 063 355 09 71</td></tr>#}
{#                <tr>#}
{#                    <td>Ремонт одягу, пошив штор</td>#}
{#                    <td align="center">Олена</td>#}
{#                    <td align="center">099 151 97 36</td></tr>#}
{#                <tr>#}
{#                    <td>Ремонт комп'ютерів, налаштування Wi-Fi; чистка бойлерів; ремонт сантехніки, електрики, меблів; виготовлення меблів</td>#}
{#                    <td align="center">Саша (spin)</td>#}
{#                    <td align="center">093 354 84 46</td></tr>#}
{#                <tr>#}
{#                    <td>Ремонт і налаштування комп'ютерної техніки, Wi-Fi</td>#}
{#                    <td align="center">Рома (RS)</td>#}
{#                    <td align="center">050 387 37 46</td></tr>#}
{#                <tr>#}
{#                    <td>Реставрація та редизайн меблів</td>#}
{#                    <td align="center">Леся+Рома</td>#}
{#                    <td align="center">050 205 47 74, <a href="https://www.facebook.com/lesia.stoianova/media_set?set=a.10202711088354734.1124796688&amp;type=3" target="_blank">сайт</a></td></tr>#}
{#                <tr>#}
{#                    <td>Кундаліні йога та цілительство</td>#}
{#                    <td align="center">Леся</td>#}
{#                    <td align="center">050 205 47 74, <a href="http://satnamrasayan.com.ua/" target="_blank">сайт</a></td></tr>#}
{#                <tr>#}
{#                    <td>Ремонт комп’ютерів, відновлення інформації з жорстких дисків та карт пам’яті; ремонт металопластикових вікон, заміна ущільнювачів</td>#}
{#                    <td align="center">Віталій</td>#}
{#                    <td align="center">066 097 92 68</td></tr>#}
{#                <tr>#}
{#                    <td>Всі види макіяжу (денний, вечірній, весільний, фото-, відеозйомка, до Хелоуіну)</td>#}
{#                    <td align="center">Ольга</td>#}
{#                    <td align="center">063 139 14 04</td></tr>#}
{#                <tr>#}
{#                    <td>Візажист-перукар-стиліст. Макіяж, фарбування вій і брів, біотатуаж, нарощування вій, стрижки жіночі, фарбування волосся, мелірування. Курси візажу. Школа краси для дівчат від 12 до 17 років.</td>#}
{#                    <td align="center">Ольга</td>#}
{#                    <td align="center">066 709 56 71, <a href="http://angels-fs.org.ua/" target="_blank">сайт</a>, <a href="http://vk.com/club28234463" target="_blank">http://vk.com/club28234463</a></td></tr>#}
{#                <tr>#}
{#                    <td width="55%">Масаж (крім немовлят), крапельниці, уколи</td>#}
{#                    <td width="15%" align="center">Тарас</td>#}
{#                    <td align="center">097 689 66 67</td></tr>#}
{#                <tr>#}
{#                    <td width="55%">Шоколадні цукерки ручної роботи, зефір, корисні солодощі для дітей та дорослих від кондитерської "Добра Цукерня"</td>#}
{#                    <td width="15%" align="center">Олена</td>#}
{#                    <td align="center">050-276-29-66, 097-462-45-43 <a href="https://www.facebook.com/dobracuk/" target="_blank">Facebook</a></td></tr>#}
{#                <tr>#}
{#                    <td width="55%">Землевпорядні та геодезичні роботи по Київській області.</td>#}
{#                    <td width="15%" align="center">Олексій, директор ТОВ "Земельне агенство України"</td>#}
{#                    <td align="center">0-800-21-00-25 безкоштовна консультація. 067 381 66 25, 050 381 66 25</td></tr>#}
{#                <tr>#}
{#                    <td width="55%">Світогляд Народного Академічного Університету Еволюції Розуму (НАУ ЭРа) - навчання, участь у Програмі. Унікальні Знання з частково знятого Інфозаборонення.</td>#}
{#                    <td width="15%" align="center">Володимир</td>#}
{#                    <td align="center">050 387 36 14, 096 461 88 08</td></tr>#}
{#                <tr>#}
{#                    <td>Майстер манікюру, педікюру</td>#}
{#                    <td align="center">Ольга</td>#}
{#                    <td align="center">097 214 44 34</td></tr> </tbody></table>#}
{#            <div class="clearfix">#}
{#            </div>#}
{#            <aside>#}
{#                <div class="clearfix">#}
{#                </div>#}
{#            </aside>#}
{#        </div><!-- /.page_content type_page_content-->#}
{#    </div>#}
{#{% endblock %}#}
