{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}
    {% trans 'User profile' %}.
{% endblock %}

{% block content %}
    <!-- Main content -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="content">

                    <legend><i class="fa fa-user"></i> {% trans 'User profile' %}
                                        {% if request.user == user %}
                        <a style="float: right" class="btn btn-warning btn-fill btn-sm"
                           href="{% url 'profile-edit' user_id=user.id %}"><i class="fa fa-pencil"></i> {% trans 'Edit' %}</a>
                    {% endif %}
                    </legend>
                <br/>
                    <strong>{% trans 'Condominium' %}: </strong>
                    {% for c in condominiums %}
                        {{ c.name }};

                    <br/>

                {% endfor %}
                    <strong>{% trans 'Last name' %}: </strong> {{ user.last_name }}<br/>
                    <strong>{% trans 'First name' %}: </strong> {{ user.first_name }}<br/>
                    {% if user.id == request.user.id or allowed %}
                        <strong>{% trans 'Middle name' %}: </strong> {{ user.middle_name }}<br/>
                        <strong>{% trans 'Email' %}:</strong> {{ user.email }}<br/>
                        <strong>{% trans 'Phone' %}: </strong> {{ user.phone }}<br/>
                    {% endif %}
                    <!--
                    {% if user.id == request.user.id %}
                        (<a href="{% url 'account_logout' %}">Вийти з сиcтеми</a>)
                    {% endif %}
                    -->
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>

        <!--div class="col-md-4">
            <div class="card card-user">
                <div class="image">
                    <img src="{% static 'img/back-menu.png' %}"/>
                </div>
                <div class="content">
                    <div class="author">
                        <a href="#">
                            <img class="avatar border-gray" src="{% static "img/faces/face-0.jpg" %}">
                            <h4 class="title">
                                {{ request.user.first_name }} {{ request.user.last_name }}
                                <br/>
                                <small> {{ request.user.username }} </small>
                            </h4>
                            <p class="description text-center"></p>
                        </a>
                    </div>
                </div>
                <hr/>
            </div>
        </div-->
            <!--<div class="col-md-5">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Мій баланс: -24 145 ₴</h4>
                            <p class="category">Ваші фінансові операції за останній місяць:</p>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Дата</th>
                                    <th>Пизначення</th>
                                    <th class="text-right">Сума</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td>10.09.2015</td>
                                    <td>За інтернет</td>
                                    <td class="text-right">120 ₴</td>
                                </tr>
                                <tr>
                                    <td class="text-center">2</td>
                                    <td>08.09.2015</td>
                                    <td>За телебачення</td>
                                    <td class="text-right">25 ₴</td>
                                </tr>
                                <tr>
                                    <td class="text-center">3</td>
                                    <td>06.09.2015</td>
                                    <td>Ескорт послуги</td>
                                    <td class="text-right">24 000 ₴</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                     </div>
                </div> -->
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="content">
                {% if request.user.is_authenticated %}
                    <legend>
                        {% trans 'Residential premise' %}
                                            {% if request.user == user %}
                        <i class="fa cart-plus"></i>
                         <a style="float: right" class="btn btn-success btn-fill btn-sm"
                           href="{% url 'residential-premise-create' user_id=user.id %}"><i class="fa fa-plus-square"></i> {% trans 'Add' %}</a>
                    {% endif %}
                    </legend>
                    {% if residential_premise %}
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>{% trans 'Number' %}</th>
                                <th>{% trans 'Area' %}</th>
                                <th>{% trans 'Residents' %}</th>
                                <th>{% trans 'Condominium' %}</th>
                                <th class="td-actions text-right">{% trans 'Remove' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for primise in residential_premise %}
                                <tr>
                                    <td>{{ primise.number }}</td>
                                    <td>{{ primise.area }} {% trans "m" %}<sup>2</sup></td>
                                    <td>{{ primise.residents_count }}</td>
                                    <td>{% if primise.house != None %}{{ primise.house.condominium.name }}{% endif %}</td>
                                    <td class="td-actions text-right">
                                        <a href="{% url 'residential_premise_delete' primise.id %}" rel="tooltip" class="btn btn-danger btn-simple btn-xs">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="content">
                {% if request.user.is_authenticated %}
                    <legend>
                        {% trans 'Non residential premise' %}
                         {% if request.user == user %}
                        <a style="float: right" class="btn btn-success btn-fill btn-sm"
                           href="{% url 'non-residential-premise-create' user_id=user.id %}"><i class="fa fa-plus-square"></i> {% trans 'Add' %}</a>
                    {% endif %}
                    </legend>
                    {% if non_residential_premise %}
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>{% trans 'Number' %}</th>
                                <th>{% trans 'Area' %}</th>
                                <th>{% trans 'Condominium' %}</th>
                                <th class="td-actions text-right">{% trans 'Remove' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for primise in non_residential_premise %}
                                <tr>
                                    <td>{{ primise.number }}</td>
                                    <td>{{ primise.area }} {% trans "m" %}<sup>2</sup></td>
                                    <td>{{ primise.house.condominium.name }}</td>
                                    <td class="td-actions text-right">
                                        <a href="{% url 'non_residential_premise_delete' primise.id %}" rel="tooltip"
                                           class="btn btn-danger btn-simple btn-xs">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!--div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="content">
                    <legend>
                        {% trans 'Engineering service' %}
                        {% if request.user == user %}
                        <a style="float: right" class="btn btn-success btn-fill btn-sm"
                           href="{% url 'utilities-manage' user_id=request.user.id %}"><i class="fa fa-plus-square"></i> {% trans 'Add' %}</a>
                        {% endif %}
                    </legend>

                    {% if utilities %}
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>{% trans 'Service' %}</th>
                                <th>{% trans 'Value' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for utility in utilities %}
                                <tr>
                                    <td>{{ utility.service }}</td>
                                    <td>{{ utility.start_value }} {{ utility.service.measurement_units }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div-->

{% endblock %}
