{#{% extends 'base.html' %}#}
{#{% load staticfiles %}#}
{#{% block title %}Тарифи{% endblock %}#}
{##}
{#{% block content %}#}
{#    <!-- Main content -->#}
{#    <!-- Default box -->#}
{#    <div class="card">#}
{#        <div class="content">#}
{#            <h2>Тарифи. Оновлено 28.09.2016 року на засідані правління.</h2>#}
{#            <br style="clear:both">#}
{#            <table class="table">#}
{#                <tbody>#}
{#                <tr>#}
{#                    <td width="55%">Водопостачання та водовідведення</td>#}
{#                    <td width="15%" align="center">за м. куб.</td>#}
{#                    <td align="center">0,25 грн.</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td width="55%">Вивезення твердих відходів</td>#}
{#                    <td width="15%" align="center">за місяць</td>#}
{#                    <td align="center">66 грн.</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td width="55%">Прибирання прибудинкової території</td>#}
{#                    <td width="15%" align="center">за місяць</td>#}
{#                    <td align="center">66 грн.</td>#}
{#                </tr>#}
{#                </tbody>#}
{#            </table>#}
{#        </div><!-- /.page_content type_page_content-->#}
{#    </div>#}
{#{% endblock %}#}
