{##}
{#{% extends 'base.html' %}#}
{#{% load static %}#}
{#{% block title %}Вибір ОСББ. Інформаційна система "Розумне ОСББ".{% endblock %}#}
{##}
{#{% block content %}#}
{##}
{#              <!-- Main content -->#}
{#        <section class="content">#}
{##}
{#          <!-- Default box -->#}
{#          <div class="card">#}
{##}
{#            <div class="content">#}
{#    <div class="col-md-12">#}
{#    <div class="text-center">#}
{#        <img src="{% static 'img/progress_reg_2.png' %}"style="max-width: 100%"/>#}
{#        </div>#}
{#          <div class="card">#}
{#            <div class="box-header">#}
{#              <h3 class="box-title">Виберіть населений пункт зі списку:</h3>#}
{#            </div>#}
{#            <!-- /.box-header -->#}
{#            <div class="box-body no-padding">#}
{#              <table class="table table-bordered table-hover">#}
{#                <tbody>#}
{#                <tr>#}
{#                    <th></th>#}
{#                  <th>Населений пункт</th>#}
{#                  <th>Тип</th>#}
{#                  <th>Територіальна громада</th>#}
{#                </tr>#}
{#                {% for condominium in condominiums %}#}
{#                <tr>#}
{#                <td class="vert-align"><i class="fa fa-map-marker"></i></td>#}
{#                  <td>  <div class="ct">  <a href="/choosecondominium/{{ condominium.id }}"> {{ condominium.name }}</a></div></td>#}
{#                  <td>{{ condominium.condominium_type.title }}</td>#}
{#                  <td>#}
{#                      {% if condominium.condominiumgromada_set.first.title %}#}
{#                        <a href="/gromadasvillges/{{condominium.condominiumgromada_set.first.id}}">{{ condominium.condominiumgromada_set.first.title}}</a>#}
{#                      {% else %}#}
{#                        <div class="text-muted"> Відсутня приналежність до громади</div>#}
{#                      {% endif %}#}
{##}
{#                  </td>#}
{##}
{##}
{##}
{#                    <!--<td>#}
                      {# if condominium.condominiumsgromadasspr_set.all.0.gromada_ref.title #}
                        {#  condominium.condominiumsgromadasspr_set.all.0.gromada_ref.title #}
                      {# else #}
{#                        <div class="text-muted"> Відсутня принадлежність до громади</div>#}
                      {#   endif #}
{##}
{#                  </td>-->#}
{##}
{#                </tr>#}
{#                {% endfor %}#}
{#              </tbody>#}
{#             </table>#}
{#            </div>#}
{#            <!-- /.box-body -->#}
{#          </div>#}
{#          <!-- /.box -->#}
{#        </div>#}
{##}
{#  </div><!-- /.box-body -->#}
{##}
{#          </div><!-- /.box -->#}
{##}
{#        </section><!-- /.content -->#}
{##}
{##}
{##}
{##}
{##}
{##}
{#{% endblock %}#}
{##}
{##}
