{#{% extends 'base.html' %}#}
{#{% load static %}#}
{#{% block title %}Рейтинг користувачів. Інформаційна система "Розумне місто".{% endblock %}#}
{#{% block head_top %}#}
{#    <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css'%}">#}
{#      <!-- daterange picker -->#}
{#  <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker-bs3.css'%}">#}
{#{% endblock %}#}
{#{% block content %}#}
{#        <!-- Main content -->#}
{#        <section class="content">#}
{##}
{#          <!-- Default box -->#}
{#          <div class="card">#}
{##}
{#            <div class="content">#}
{#            <h2 class="text-center"><i class="fa  fa-line-chart"></i></h2>#}
{#            <h2 class="text-center">Рейтинг користувачів системи по вибраному населеному пункту </h2>#}
{#            <br/>#}
{##}
{##}
{##}
{#{% if list %}#}
{#          <!-- Default box -->#}
{#          <div class="box box-primary">#}
{##}
{#            <div class="content">#}
{##}
{##}
{##}
{#             <table id="users" class="table table-bordered table-striped">#}
{#                <thead>#}
{#                <tr role="row">#}
{#                    <th class="vert-align">Рейтинг <a href="/help#karma" target="_blank"><i class="fa  fa-question-circle"></i></a></th>#}
{#                    <th>ПІБ</th>#}
{#                    <th class="vert-align">Дата реєстрації</th>#}
{#                    <th class="vert-align">Статус</th>#}
{##}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
{# {% for user in list %}#}
{##}
{#                <tr role="row">#}
{#                  <td class="vert-align">#}
{#                  {% if forloop.counter == 1  %}#}
{#                   <i class="fa fa-circle" style="color: #eab700"></i><strong> 1 місце</strong>#}
{#                      <a href="/profile/karma/{{ user.id }}">({% if user.points_sum == None  %}0{% else %}{{ user.points_sum }}{% endif %} балів)</a>#}
{##}
{#                  {% elif forloop.counter == 2  %}#}
{#                      <i class="fa fa-circle" style="color: #D2D6DE"></i><strong>  2 місце</strong>#}
{#                             (<a href="/profile/karma/{{ user.id }}">{% if user.points_sum == None  %}0{% else %}{{ user.points_sum }}{% endif %} балів</a>)#}
{##}
{#                  {% elif forloop.counter == 3  %}#}
{#                      <i class="fa fa-circle" style="color: #DE6300"></i> <strong> 3 місце</strong>#}
{#                             (<a href="/profile/karma/{{ user.id }}">{% if user.points_sum == None  %}0{% else %}{{ user.points_sum }}{% endif %} балів</a>)#}
{##}
{#                      {% else %}#}
{#                         <strong>{% if user.points_sum == None  %}Нуль {% else %}{{ user.points_sum }}{% endif %} балів</strong>#}
{##}
{#                  {% endif  %}#}
{##}
{##}
{#                  </td>#}
{#                  <td> <a href="/profile/{{ user.id }}">{{ user.last_name}} {{ user.first_name}}</a></td>#}
{#                  <td class="vert-align">{{ user.date_joined|date:"d-m-Y о H:i" }}</td>#}
{#                  <td class="vert-align">{% if user.is_active %}<span class="label label-success">Активний</span>{% else %}<span class="label label-danger">Заблоковано</span>{% endif %}</td>#}
{##}
{#                </tr>#}
{#{% endfor %}#}
{##}
{#                </tbody>#}
{##}
{#              </table>#}
{##}
{##}
{##}
{##}
{#      </div><!-- /.box-body -->#}
{##}
{#          </div><!-- /.box -->#}
{#   {% endif %}#}
{##}
{##}
{#      </div><!-- /.box-body -->#}
{##}
{#          </div><!-- /.box -->#}
{##}
{#        </section><!-- /.content -->#}
{#    #}
{#{% endblock %}#}
{##}
{##}
{#      {% block footerjs %}#}
{##}
{#       <script type="text/javascript" src="/static/plugins/datatables/jquery.dataTables.min.js"></script>#}
{#      <script type="text/javascript" src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>#}
{#      <script type="text/javascript">#}
{##}
{#         $("#users").DataTable( {#}
{#          "bSort": false,#}
{#            "language": {#}
{#                "url": "//cdn.datatables.net/plug-ins/1.10.11/i18n/Ukrainian.json"#}
{#            }#}
{##}
{#        });#}
{##}
{#          </script>#}
{#    {% endblock footerjs %}#}